.instruction {
    margin-bottom: 20px;
}

.instruction pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.instruction code {
    font-family: Consolas, monospace;
}

.content {
    margin: 30px;
}