<h2>Planner</h2>

<div class="input-content">
  <form [formGroup]="form">
    <mat-form-field class="item">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="nameFormControl" placeholder="Name" />
      <mat-error *ngIf="form.invalid">{{ getErrorMessage("name") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>X</mat-label>
      <input type="text" matInput [formControl]="xFormControl" placeholder="X" />
      <mat-error *ngIf="form.invalid">{{ getErrorMessage("x") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-label>Y</mat-label>
      <input type="text" matInput [formControl]="yFormControl" placeholder="Y" />
      <mat-error *ngIf="form.invalid">{{ getErrorMessage("y") }}</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="addNewPoint()">Add Point</button>
    </div>
  </form>
</div>

<div *ngIf="points.length > 0" class="table-content">
  <app-table [points]="points"></app-table>
</div>